.clear-button {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.clear-button:hover {
    background-color: #d32f2f;
}